<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel = "stylesheet" href = "figma_first_style.css">
    <title>Body C</title>
</head>
<body>
    <h1 class="title">Snap photos and share like never before</h1>
    <h2 class="subtitle">Sed ut perspiciatis</h2>
    <p class="description_text">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
    <div class="button">
        <div class="button_text">Learn more</div>
    </div>
    <h2 class="subtitle_1">Nemo enim ipsam</h2>
    <p class="description_text_1">Consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam.</p>
    <div class="button_1">
        <div class="button_text_1">Learn more</div>
    </div>
    <h2 class="subtitle_2">Lorem ipsum dolor</h2>
    <p class="description_text_2">Amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
    <div class="button_2">
        <div class="button_text_2">Learn more</div>
    </div>
    <h2 class="subtitle_3">Lorem ipsum dolor</h2>
    <p class="description_text_3">Amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
    <div class="button_3">
        <div class="button_text_3">Learn more</div>
    </div>
</body>
</html>
