<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="figma_second_style.css">
    <title>Body D</title>
</head>
<body>
    <h1 class="title">Snap photos and share like never before</h1>
    <div class="ellipse">
        <div class="sub_ellipse"></div>
    </div>
    <div class="ellipse_1">
        <div class="sub_ellipse_1"></div>
    </div>
    <h2 class="subtitle">Sed ut perspiciatis</h2>
    <p class="description_text">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
    <h2 class="subtitle_1">Nemo enim ipsam</h2>
    <p class="description_text_1">Consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam.</p>
</body>
</html>