<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="figma_third_style.css">
    <title>Body H</title>
</head>
<body>
    <div class="rectangle">
        <div class="sub_rectangle"></div>
    </div>
    <h2 class="subtitle">Sed ut perspiciatis unde omnis</h2>
    <p class="description_text">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.</p>
    <div class="ellipse_1">
        <div class="sub_ellipse_1"></div>
    </div>
    <p class="description_text_1">Sed ut perspiciatis unde omnis iste natus error sit voluptate</p>
    <div class="ellipse_2">
        <div class="sub_ellipse_2"></div>
    </div>
    <p class="description_text_2">Sed ut perspiciatis unde omnis iste natus error sit voluptate</p>
    <div class="ellipse_3">
        <div class="sub_ellipse_3"></div>
    </div>
    <p class="description_text_3">Sed ut perspiciatis unde omnis iste natus error sit voluptate</p>
</body>
</html>