<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href="myStyle.css">
    <title>Title</title>
</head>
<body>

<h1>Содержание</h1>

<p style="text-indent: 0px;" >Задание на курсовой проект</p>
<p style="text-indent: 0px;" >Замечания руководителя</p>
<p style="text-indent: 0px;" >Введение</p>
<p style="text-indent: 0px;" >1 Исчисления высказываний</p>
<p>1.1 Основные логические функции исчисления высказываний</p>
<p>1.2 Дизъюнктивная нормальная форма и конъюнктивная нормальная форма. Минимальная ДНФ и минимальная КНФ</p>
<p style="text-indent: 0px;" >2 Перевод высказываний естественного языка на язык счисления высказываний</p>
<p style="text-indent: 0px;" >3 Логический вывод в исчислении высказываний</p>
<p>3.1 Метод прямого преобразования</p>
<p>3.2 Метод семантических таблиц</p>
<p>3.3 Метод резолюций</p>
<p style="text-indent: 0px;" >4 Релейно-контактные схемы</p>
<p style="text-indent: 0px;" >5 Исчисления предикатов</p>
<p>5.1 Кванторные операции</p>
<p>5.2 Равносильности логики предикатов</p>
<p>5.3 Предваренная нормальная форма (ПНФ) и сколемовская нормальная форма (СНФ)</p>
<p style="text-indent: 0px;" >6 Общие сведения о языке логического программирования</p>
<p style="text-indent: 0px;" >Заключение</p>
<p style="text-indent: 0px;" >Список литературы</p>

<h1>Введение</h1>

<p>Математическая логика – это раздел математики, изучающий математические обозначения, формальные системы, доказуемость математических суждений, природу математического доказательства в целом, вычислимость и прочие аспекты оснований математики. В более широком смысле рассматривается как математизированная ветвь формальной логики — «логика, развиваемая с помощью математических методов».
Логика – наука о мышлении – зародилась еще в древней Греции. Основной вклад в ее изучение внес философ и ученый Аристотель. На границе XVII и XVIII веков у немецкого философа и математика Лейбница появилась идея заменить рассуждения вычислениями, то есть применить математические методы к изучению мышления [1].
<p>В XIX веке	оформился раздел математической логики «Алгебра высказываний». В нем все элементарные высказывания обозначались буквами, союзы и отрицание – символами логических операций, а сложные высказывания – формулами. Законы логики изучались подобно алгебраическим законам. Большую роль в формировании этого раздела сыграл английский математик и логик Джордж Буль.</p>
<p>Сейчас очень важным является и прикладное значение математической логики. Математическая логика используется в программировании, базах данных и экспертных системах. Идеи и аппарат логики используются в кибернетике, вычислительной технике и электронике – все современные компьютеры построены на основе этой дисциплины.</p>

<h1>1.	Исчисления высказываний</h1>

<p>Логическими высказываниями являются утвердительные предложения, о которых можно судить, истинны они или ложны. Причем они не могут быть истинными и ложными одновременно. Логика высказываний рассматривает эти предложения не с точки зрения их смысла, содержания, а только с точки зрения их истинности или ложности.
Вопросительные, повелительные и бессмысленные предложения не являются логическими высказываниями. В логике высказываний не интересуются содержанием высказывания, а интересуются его ложностью или истинностью. Истинные предложения эквивалентны единице, ложные – нулю.
Алфавит языка логики высказываний состоит из пропозициональных символов, обозначаемых прописными буквами латинского алфавита (A, B, C и т.д.), которые соответствуют простым или элементарным высказываниям. Сложными высказываниями называют те, в которых простые высказывания соединены с помощью логических связок.</p>

<h2 style="text-indent: 30px;" >1.1 Основные логические функции исчисления высказываний</h2>

<p>В математической логике определены пять основных логических операций: конъюнкция, дизъюнкция, отрицание, импликация и эквиваленция.  Первые три из них составляют полную систему операций, вследствие чего, остальные операции могут быть выражены через них. Эти операции рассматриваются как средство вычисления логического значения сложного высказывания по логическим значениям составляющих его простых высказываний. При этом в начале формулируются аксиомы исчисления высказываний, а далее приводятся правила вывода, с помощью которых и на основании аксиом мы определяем классы выводимых формул. В таблице 1 мы видим правила вычисления истинностных значений [2].</p>

<h2>Таблица 1 – Основные логические функции исчисления высказываний</h2>

<table border = "1">
    <tr>
        <td>A</td>
        <td>B</td>
        <td>¯A</td>
        <td>A&B</td>
        <td>AvB</td>
        <td>A→B</td>
        <td>A↔B</td>
    </tr>

    <tr>
        <td>0</td>
        <td>0</td>
        <td>1</td>
        <td>0</td>
        <td>0</td>
        <td>1</td>
        <td>1</td>
    </tr>

    <tr>
        <td>0</td>
        <td>1</td>
        <td>1</td>
        <td>0</td>
        <td>1</td>
        <td>1</td>
        <td>0</td>
    </tr>

    <tr>
        <td>1</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>1</td>
        <td>0</td>
        <td>0</td>
    </tr>

    <tr>
        <td>1</td>
        <td>1</td>
        <td>0</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
    </tr>
</table>

<p>В логике исчисления высказываний справедливы следующие равносильности, представленные в Таблице 2.</p>


<h2>Таблица 2 – Равносильности в исчислении высказываний</h2>

<table border="1">
    <tr>
        <td>Для дизъюнкции</td>
        <td>Для конъюнкции</td>
        <td>Название закона</td>
    </tr>
    <tr>
        <td>A˅B=B˅A</td>
        <td>AB=BA</td>
        <td>Коммутативный</td>
    </tr>
    <tr>
        <td>A˅(B˅C)=(A˅B)˅C</td>
        <td>A(BC)=(AB)C</td>
        <td>Сочетательный</td>
    </tr>
    <tr>
        <td>A(B˅C)=AB˅AC</td>
        <td>A˅(BC)=(A˅B)(A˅C)</td>
        <td>Дистрибутивный</td>
    </tr>
    <tr>
        <td>A˅A=A</td>
        <td>AA=A</td>
        <td></td>
    </tr>
    <tr>
        <td>A̅ ̅=A</td>
        <td>A̅ ̅ ̅=A̅</td>
        <td></td>
    </tr>
    <tr>
        <td>A˅0=A</td>
        <td>A∙0=0</td>
        <td></td>
    </tr>
    <tr>
        <td>A˅1=1</td>
        <td>A∙1=A</td>
        <td></td>
    </tr>
    <tr>
        <td>A˅A̅=1	</td>
        <td>AA̅=0</td>
        <td></td>
    </tr>
    <tr>
        <td>A˅AB=A</td>
        <td>A(A˅B)=A</td>
        <td>Формула поглощения</td>
    </tr>
    <tr>
        <td>A˅A ̅B=A˅B</td>
        <td>A(A ̅˅B)=AB</td>
        <td>Формула поглощения</td>
    </tr>
    <tr>
        <td>((A˅B)) ̅=(A ̅B ̅)</td>
        <td>(AB) ̅=A ̅˅B ̅</td>
        <td></td>
    </tr>
</table>

<h2>Задание №1</h2>
<p>Используя основные эквивалентности исчисления высказываний проверить следующие равносильности:</p>
<p>(AB˅AB ̅C˅A(BC) ̅ )(A ̅BC˅A ̅BC ̅˅ABC)=ABC</p>
<p>(BC ̅˅ABC˅C(AB) ̅ )(AB ̅˅A ̅B ̅˅ABC ̅ )=ABC ̅˅B ̅C</p>
<p>Чтобы прировнять эти два высказывания нужно для начала упростить левую сторону.</p>
<p>(AB˅AB ̅C˅A(BC) ̅)(A ̅BC˅A ̅BC ̅˅ABC)=ABC</p>
<p>(AB˅AB ̅C˅A(B ̅˅C ̅ ))(A ̅BC˅A ̅BC ̅˅ABC)=ABC</p>
<p>(AB˅AB ̅C˅AB ̅˅AC ̅ )(A ̅BC˅A ̅BC ̅˅ABC)=ABC</p>
<p>(AA ̅BBC˅AA ̅BBC ̅˅AABBC˅AA ̅BB ̅CC˅AA ̅BB ̅CC ̅˅AABB ̅CC ̅˅</p>
<p>AA ̅BB ̅C˅AA ̅BB ̅C ̅˅AABB ̅C˅AA ̅BCC ̅˅AA ̅BC ̅C ̅˅AABC(C)) ̅=ABC</p>
<p>(AABBC)=ABC</p>
<p>ABC=ABC</p>
<p>В результате упрощения левой части мы убедились, что тождество верно. Чтобы убедиться в правильности решения, введем исходную формулу в программу Electronics Workbench исходную формулу (Тал 1) и упрощенную (Рисунок 2).</p>

<center>
    <img src = "https://studfile.net/html/710/197/html_XpqajJEr6W.sQeJ/htmlconvd-4UPXpR50x1.jpg" width="500" height="260">
</center>
<p>Рисунок 1 – Таблица истинности исходной формулы</p>

</body>
</html>